<!DOCTYPE html>

<html>
    <head>
        {{>page_title}}
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>This site was created by Aditya Dash. It uses data from <a target="_blank" href="https://www.mapbox.com/">Mapbox</a> and <a target="_blank" href="https://rapidapi.com/community/api/open-weather-map">RapidAPI</a>.</p>
            <img class="portrait" src="./img/robot.png">
        </div>

        {{>footer}}
    </body>
</html>