<!DOCTYPE html>

<html>
    <head>
        {{>page_title}}
        <link rel="icon" href="./img/weather.png">
        <link rel="stylesheet" href="./css/styles.css">
    </head>

    <body>
        <div class="main-content">
            {{>header}}
            <p>Use this site to get your weather!</p>

            <form>
                <p>Check if you want alerts:<input id="alertBox" type="checkbox"></p>
                <p>Search by place name</p>
                <input id="search-box" placeholder="Location">
                <button type="submit">Search</button>
            </form>
            <p>Or click <button id="location-button" type="button">here</button> to get your weather.</p>

            <p id="message-1"></p>
            <p id="message-2"></p>
            <p class="alert"></p>
            <p id="noalert"></p>

            <ul id="alerts"></ul>


        </div>


        {{>footer}}

        <script src="./js/app.js"></script>
        <script src="./js/results.js"></script>
    </body>
</html>